
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
}

.header {
    height: 100vh; /* Full viewport height */
    background-color: #d4edda;
    display: flex;  /* Flex container */
    flex-direction: column;
    justify-content: center;  /* Vertical centering */
    align-items: center;  /* Horizontal centering */
    color: #155724;
    text-align: center;
    padding: 0 20px;  /* Optional padding for side margins */
    box-sizing: border-box;  /* Ensure padding does not cause overflow */
}

.header .display-4 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 20px; /* Add margin to separate elements */
}

.header .lead {
    font-size: 1.5rem;
    margin-bottom: 20px; /* Add margin to separate elements */
}

.header .quote {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px; /* Add margin to separate elements */
}

.header .about-text {
    display: flex;
    font-size: 1.1rem;
    /* max-width: 800px; */
    margin-top: 20px;
    margin-bottom: 20px; /* Add margin to separate elements */
    line-height: 1.6; /* Better readability */
}

.btn-get-started {
    background-color: #c1efa5;
    color: #155724;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-get-started:hover {
    background-color: rgba(193, 239, 165, 0.85);
    transform: scale(1.1);
}


.section-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

.project-card {
    background-color: #f1f1f1;
    border: none;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensures full height within flex parent */
}

.project-card .card-body {
    flex-grow: 1; /* Allows the card body to grow and take up remaining space */
}

.project-card img {
    height: 200px; /* Set a fixed height for images to ensure uniformity */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

.project-card-container {
    display: flex;
    flex-wrap: wrap;
}

.project-card-container .col-md-6 {
    display: flex;
    flex: 1 1 auto;
    margin-bottom: 20px;
}

.project-card-container .card {
    flex: 1;
}

.project-card:hover {
    transform: translateY(-10px); /* Moves the card up slightly */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increases shadow effect */
}

#contact {
    background-color: #d4edda;
    padding: 60px 0;
}

#contact .btn-primary {
    background-color: #155724;
    border-color: #155724;
}

/* #contact .social-links a {
    margin: 5px;
    color: #155724;
    border-color: #155724;
} */
